body {
    background-color: black;
     margin: 0;
    overflow: hidden; 
}

#BackgroundStart {
    display: grid;
    place-items: center;
    position: relative;
    height: 100vh; 
}

#game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#play-button {
    background: white;
    color: black;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

#play-button:hover {
    background: lightgray;
}

#game-container {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}


#InitialStart {
    display: none;
}



.BackgroundStartImage {
    width: 750px;
    height: 785px;
}

#GameText {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


#StartBackgroundImage, #StartBackgroundImage2 {
    position: absolute;
    height: 250px;
    width: auto;
    left: 42%;
    animation: bobbing 2s infinite ease-in-out;

}

#StartBackgroundImage {
    top: 30%;
}

#StartBackgroundImage2 {
    top: 10%;
    animation-delay: 0.2s; 
}

/* Background image bobbing animation */
@keyframes bobbing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}



#PLAY, #HOW-TO-PLAY {
    position: absolute;
    height: 70px;
    width: 350px;
    left: 39%;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: green;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border-color: #301934;

}

#ControlsSuperWeapon, #HealthEnemyProperties, #HealthBossProperties, #GameUI, #Back, #goBackToHowtoplay {
    display: none;
    position: absolute;
    height: 75px;
    width: 365px;
    left: 39%;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: green;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border-color: #301934;

}



#PLAY {
    top: 70%;
}

#HOW-TO-PLAY {
    top: 80%;
}

#ControlsSuperWeapon {
    top: 20%;
}

#HealthEnemyProperties {
    top: 35%;
}

#HealthBossProperties {
    top: 50%;
}


#GameUI {
    top: 65%;
}


#Back {
    top: 80%;
}

#goBackToHowtoplay {
    top: 88%;
}


/* Button animations effects */
#PLAY:hover, #HOW-TO-PLAY:hover, #ControlsSuperWeapon:hover, #HealthEnemyProperties:hover, #HealthBossProperties:hover, #GameUI:hover, #Back:hover, #goBackToHowtoplay:hover {
    box-shadow: 0 0 10px blue;
}

#PLAY:active, #HOW-TO-PLAY:active, #ControlsSuperWeapon:active, #HealthEnemyProperties:active, #HealthBossProperties:active, #GameUI:active, #Back:active, #goBackToHowtoplay:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px 5px rgb(255, 255, 255, 0.5);
}


/* images and description for the how-to-play page */
#SuperWeaponInstructions, #ZetaScoutProperties, #BetaStrikerProperties, #OmegaTitanProperties, #HealthLivesProperties, #BossProperties {
    display: none;
    position: absolute;
    color: white;
    letter-spacing: 1.0px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

#SuperWeaponInstructions {
    top: 47%;
    left: 26.3%;
    max-width: 745px;
    font-size: 20px;
}

#ZetaScoutProperties {
    top: 18%;
    left: 37%;
    font-size: 17px;
    max-width: 570px;
}

#BetaStrikerProperties {
    top: 38%;
    left: 37%;
    font-size: 17px;
    max-width: 575px;
}

#OmegaTitanProperties {
    top: 56%;
    left: 37%;
    font-size: 17px;
    max-width: 570px;
}

#HealthLivesProperties {
    top: 18%;
    left: 35%;
    font-size: 17px;
    max-width: 585px;
}

#BossProperties {
    top: 40%;
    left: 38%;
    font-size: 17px;
    letter-spacing: 1.5px;
    max-width: 545px;
}


#ShipControl, #ZetaScout, #BetaStriker, #OmegaTitan, #HealthLives, #BossAlienShooting, #BossAlienBeam {
    position: absolute;
    display: none;
    height: 250px;
    width: auto;
}

#ShipControl {
    top: 15%;
    left: 35%;
}

#ZetaScout {
    top: 13%;
    left: 22.5%;
}

#BetaStriker {
    top: 33%;
    left: 22.5%;
}

#OmegaTitan {
    top: 56%;
    left: 22.5%;
}

#HealthLives {
    top: 10%;
    left: 22%;
}

#BossAlienShooting {
    top: 33%;
    left: 23%;
}

#BossAlienBeam {
    top: 55%;
    left: 23.2%;
}

#gameCanvas {
    border: 5px solid white;
    position: absolute;
    right: 445px;
    top: 5px;

}