body {
    background-color: white;
    margin: 0;
    position: relative;
}

#BackgroundStart {
    display: grid;
    place-items: center;
    position: relative;
}

#game-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(256, 256, 256, 0.3);
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#play-button {
    background: white;
    color: black;
    font-size: 24px;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#play-button:hover {
    background: lightgray;
}

#game-container {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}


#InitialStart {
    display: none;
}

.BackgroundStartImage {
    width: 765px;
    height: 785px;
}

#GameText {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 55px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    white-space: nowrap;
}

#StartBackgroundImage, #StartBackgroundImage2 {
    animation: bobbing 2s infinite ease-in-out;

}

#StartBackgroundImage {
    position: absolute;
    height: 345px;
    width: auto;
    top: 22%;
    left: 39.3%;
}

#StartBackgroundImage2 {
    position: absolute;
    height: 250px;
    width: auto;
    left: 42%;
    top: 8%;
    animation-delay: 0.2s; 
}

/* Background image bobbing animation */
@keyframes bobbing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

#PLAY, #HOW-TO-PLAY {
    position: absolute;
    height: 70px;
    width: 350px;
    left: 39%;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: green;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border-color: #301934;

}

#ControlsSuperWeapon, #HealthEnemyProperties, #HealthBossProperties, #GameUI, #Back, #goBackToHowtoplay {
    display: none;
    position: absolute;
    height: 75px;
    width: 365px;
    left: 39%;
    font-size: 30px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: green;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border-color: #301934;

}

#PLAY {
    top: 70%;
}

#HOW-TO-PLAY {
    top: 80%;
}

#ControlsSuperWeapon {
    top: 20%;
}

#HealthEnemyProperties {
    top: 35%;
}

#HealthBossProperties {
    top: 50%;
}


#GameUI {
    top: 65%;
}

#Back {
    top: 80%;
}

#goBackToHowtoplay {
    top: 88%;
}



/* Button animations effects */
#PLAY:hover, #HOW-TO-PLAY:hover, #ControlsSuperWeapon:hover, #HealthEnemyProperties:hover, #HealthBossProperties:hover, #GameUI:hover, #Back:hover, #goBackToHowtoplay:hover {
    box-shadow: 0 0 10px blue;
}

#PLAY:active, #HOW-TO-PLAY:active, #ControlsSuperWeapon:active, #HealthEnemyProperties:active, #HealthBossProperties:active, #GameUI:active, #Back:active, #goBackToHowtoplay:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px 5px rgb(255, 255, 255, 0.5);
}

/* images and description for the how-to-play page */
#SuperWeaponInstructions, #ZetaScoutProperties, #BetaStrikerProperties, #OmegaTitanProperties, #HealthLivesProperties, #BossProperties, #GameUIProperties {
    display: none;
    position: absolute;
    color: white;
    letter-spacing: 1.0px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    overflow: auto;
}

#SuperWeaponInstructions {
    top: 50%;
    left: 25.5%;
    max-width: 745px;
    font-size: 17px;
}

#ZetaScoutProperties {
    top: 26%;
    left: 25%;
    font-size: 18px;
    max-width: 770px;
}

#BetaStrikerProperties {
    top: 48%;
    left: 25%;
    font-size: 17px;
    max-width: 750px;
}

#OmegaTitanProperties {
    top: 72%;
    left: 25%;
    font-size: 17px;
    max-width: 752px;
}

#HealthLivesProperties {
    top: 32%;
    left: 27%;
    font-size: 17px;
    max-width: 700px;
}

#BossProperties {
    top: 65%;
    left: 27%;
    font-size: 17px;
    letter-spacing: 1.5px;
    max-width: 700px;
}

#GameUIProperties {
    top: 70%;
    left: 26.5%;
    font-size: 17px;
    letter-spacing: 1.5px;
    max-width: 760px;
}

#ZetaScout, #BetaStriker, #OmegaTitan, #HealthLives {
    position: absolute;
    display: none;
    height: 250px;
    width: auto;
}

#ShipControl {
    position: absolute;
    display: none;
    height: 310px;
    width: auto;
    top: 13%;
    left: 35%;
}

#ZetaScout {
    top: 5%;
    left: 40%;
}

#BetaStriker {
    top: 26%;
    left: 40%;
}

#OmegaTitan {
    top: 50%;
    left: 40%;
}

#HealthLives {
    top: 13%;
    left: 42%; 
}

#BossAlien {
    position: absolute;
    display: none;
    height: 300px;
    width: auto;
    top: 38%;
    left: 40%;
}

#GameImg {
    position: absolute;
    display: none;
    height: 405px;
    width: auto;
    top: 16%;
    left: 39%;
    border: 3px solid white;

}

#canvas {
    border: 5px solid black;
    position: absolute;
    right: 445px;
    top: 5px;

    background-image: url('assets/images/GameBackground.png'), url('assets/images/GameBackground.png');
    background-repeat: repeat-y;
    background-size: auto;

    background-position: 0 0, 0 -1333px;

    animation: scrollBackground 5s linear infinite;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0, 0 -1333px;
    }
    to {
        background-position: 0 1333px, 0 0;
    }
}


  

#ZetaScout1, #BetaStriker1, #OmegaTitan1, #player, #BossAlien1, #HeartLives1, #EnemyDeath1 {
    display: none;
}
